<%= form_for @vacancy, remote: true, html: {class: "form-horizontal", style: "display:inline;"} do |f| %>
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3><%= @title %></h3>
      </div>
      <div class="modal-body">
        <ul class="errors"></ul>

        <div class="control-group">
          <%= f.label :title, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :title %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :description, class: "control-label" %>
          <div class="controls">
            <%= f.text_area :description %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary"%>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    </div>
  </div>
<% end %>