<% @vacancies.each do |vacancy| %>
	<tr>
		<td><%= link_to vacancy.title, vacancy %></td>
		<td><%= vacancy.description %></td>
		<td><%= link_to "Add Skills", edit_vacancy_path(vacancy), class: "btn" %></td>
		<td><%= link_to "Delete", vacancy_delete_path(vacancy), remote: true, class: "btn btn-danger"%></td>
	</tr>
<% end %>