$("ul.errors").html("")
<% if @vacancy.errors.any? %>
	<% @vacancy.errors.full_messages.each do |message| %>
		$("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
	<% end %>
<% else %>
	$(".vacancy-index").html("<%= j (render 'index' ) %>")
	$("#vacancy-modal").modal("hide")
<% end %>