<h3><%= @vacancy.title %></h3><br />
<h4><%= @vacancy.description %></h4>
<p>Skills: </p>
<ul>
	<% @vacancy_skills.each do |skill| %>
		<li><%= skill.name %> - <%= skill.required_level %></li>
	<% end %>
</ul>