<div class="container">
	<div class="new-vacancy">
		
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody class="vacancy-index">
			<%= render "index" %>
		</tbody>
	</table>
	<div class="well">
		<%= link_to "New Vacancy", new_vacancy_path , remote: true, class: "btn btn-primary" %>
	</div>
</div>
<div id="vacancy-modal" class="modal fade">
	
</div>