<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Delete skill</h3>
		</div>
		<div class="modal-body">
			<ul class="errors"></ul>
			Are you sure you wish to delete <b><%= @skill.name %></b>?
		</div>
		<div class="modal-footer">
			<%= link_to "Yes, Delete This Skill", skill_path(@skill), method: :delete, remote: true, class: "btn btn-danger" %>
			<%= link_to "No, Please Don't", "#", class: "btn", data: {dismiss: "modal"} %>
		</div>
	</div>
</div>	