<%= form_for @skill, remote: true, html: {class: "form-horizontal", style: "display:inline;"} do |f| %>
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3><%= @title %></h3>
      </div>
      <div class="modal-body">
        <ul class="errors"></ul>

        <div class="control-group">
          <%= f.label :name, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :required_level, class: "control-label" %>
          <div class="controls">
            <%= f.select :required_level, @levels %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary"%>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    </div>
  </div>
<% end %>