<% @skills.each do |skill| %>
	<tr>
		<td><%= skill.name %></td>
		<td><%= skill.required_level %></td>
		<td><%= link_to "Edit", edit_skill_path(skill), remote: true, class: "btn" %></td>
		<td><%= link_to "Delete", skill_delete_path(skill), remote: true, class: "btn btn-danger"%></td>
	</tr>
<% end %>