$("ul.errors").html("")
<% if @skill.errors.any? %>
	<% @skill.errors.full_messages.each do |message| %>
		$("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
	<% end %>
<% else %>
	$(".skill-index").html("<%= j (render 'skills/index' ) %>")
	$("#skill-modal").modal("hide")
<% end %>
