<div class="container">
	<div class="new-skill">
		
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Required level</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody class="skill-index">
			<%= render "skills/index" %>
		</tbody>
	</table>
	<div class="well">
		<%= link_to "New Skill", new_skill_path, remote: true, class: "btn btn-primary" %>
	</div>
</div>
<div id="skill-modal" class="modal fade">
	
</div>