<% @candidates.each do |candidate| %>
	<tr>
		<td><%= candidate.full_name %></td>
		<td><%= candidate.address %></td>
		<td><%= candidate.vacancies.first.title%></td>
		<td><%= link_to "Edit Skills", controller: "vacancies", action: "edit", id: candidate.vacancies.first.id %></td>
		<td><%= link_to "Delete", candidate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
	</tr>
<% end %>