<div class="container">
	<div class="new-candidate">
		
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Full Name</th>
				<th>Address</th>
				<th>Vacancy</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody class="candidate-index">
			<%= render "index" %>
		</tbody>
	</table>
	<div class="well">
		<%= link_to "New Candidate", new_candidate_path, class: "btn btn-primary" %>
	</div>
</div>
