<%= form_for @candidate do |f| %>
	<div class="control-group">
          <%= f.label :full_name, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :full_name %>
          </div>
    </div>
    <div class="control-group">
          <%= f.label :address, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :address %>
          </div>
    </div>
    <br/>
    <div class="control-group">
      <%= label :vacancy_id, "Select vacancy" %>
      <div class="controls">
        <%= select_tag(:vacancy_id, options_for_select(@vacancies)) %>
      </div>
    </div>
    <br/>
    <%= f.submit class: "btn btn-primary"%>
<% end %>